<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= f.name %></title>
  </head>
  <body>
    <h1><%= f.name %></h1>
    <ul>
      <li>City : <%= f.city %></li>
      <li>email : <%= f.email %></li>
    </ul>
    <h2>Products</h2>
    <ul>
      <% for(let pro of f.products){ %>
      <li><a href="/products/<%= pro.id %> "><%= pro.name %></a> </li>
      
      <% } %>
    </ul>
    <p><a href="/farm"> Go back to all Farms</a></p>
    <p>
      <a href="/farm/<%= f.id %>/product/new "> new product for the farms</a>
    </p>

    <form action="/farm/<%= f.id %>?_method=DELETE" method="POST">
      <button>Delete</button>

  </body>
</html>
