<% layout('./layout/boilerplate') -%>
<%- include('../partials/flash') %> 

<div class="row mt-3">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-6 offset-3">
    <div class="mb-3">
      <form
        action="/campground/<%= camp.id %>?_method=PUT"
        method="POST"
        novalidate
        class="validated-form"
      >
        <div class="mb-3">
          <label class="form-label" for="title">title</label>
          <input
            class="form-control"
            type="text"
            id="title"
            name="campground[title]"
            value="<%= camp.title %>"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="image">Image- Url</label>
          <input
            class="form-control"
            type="text"
            id="image"
            name="campground[image]"
            value="<%= camp.image %>"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="location">location</label>
          <input
            class="form-control"
            type="text"
            id="location"
            name="campground[location]"
            value="<%= camp.location %>"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="price">$</label>
          <input
            type="number"
            id="price"
            class="form-control"
            name="campground[price]"
            value="<%= camp.price %>"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>

        <div class="input-group">
          <span class="input-group-text">Description</span>
          <input
            type="text"
            class="form-control"
            id="description"
            name="campground[description]"
            aria-label="description"
            value="<%= camp.description %>"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3 mt-3">
          <a class="btn btn-primary" href="/campground">Index</a>
          <button class="btn btn-success">Update CampGround</button>
        </div>
      </form>
    </div>
  </div>
</div>
