<% layout('./layout/boilerplate') -%> 

<div class="row ">
    <div class="col-6 offset-3">
    <div class="card mt-3 mb-3" style="width: 20rem;">
        <img src="<%= camp.image %> " class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= camp.title %></h5>
          <p class="card-text">Desctipriton - <%= camp.description %> </p>
          <p class="card-text"><%= camp.location %></p>
          <p class="card-text">Price - <%= camp.price %></p>
          <form class="d-inline" action="/campground/<%= camp._id %>?_method=DELETE " method="POST">
            <a class="btn btn-warning"href="/campground/<%= camp._id %>/edit">Edit campground</a>
            <button class="btn btn-danger">Delete</button>
        </form>

            <a class="btn btn-info"href="/campground">Go back to index</a>
        </div>
      </div>
    </div>
</div>
    

    
