<% layout('./layout/boilerplate') -%> 

    
    <h1><%= camp.title %> </h1>
    <p><%= camp.location %> </p>
    <img src="<%= camp.image %> " alt="">
    <p>Desctipriton - <%= camp.description %> </p>
    <p>Price - <%= camp.price %> </p>
    <a href="/campground/<%= camp._id %>/edit">Edit campground</a>
    <a href="/campground">Go back to index</a>

    <form action="/campground/<%= camp._id %>?_method=DELETE " method="POST">
        <button>delete</button>
    </form>
